
{% extends "main_template.html" %}

{% load static %}
     
    
        {% block dynamic_js %}
          var character_list = [ 
              {id:{{characters.0.id}},name:"{{characters.0.name_ar}}"}, 
              {id:{{characters.1.id}},name:"{{characters.1.name_ar}}"}  
          ];
         
          var csrf_token = '{{csrf_token}}';
          var add_story_link = '{{root_links.add_story}}/add_story/'; 
        {% endblock %}
 

        {% block main_content_block %}
            <h3>زيد حكاية</h3>
            <form id="zidhky-form">
               <div class="zidhky header">
                  <h3>عرف الحكاية</h3> 
                  <div>
                    <p>الإسم </p>
                    <input type="text" name="story_name" class="zidhky story_name"><br>        
                 
                    <p>الفئة</p>
                    <select name="category-select" class="zidhky category_name" >
                      {% for category in categories %}
                        <option value="{{category.id}}">{{category.name_ar}}</option>
                      {% endfor %} 
                    </select><br>
       
                    <p> مسودة </p> 
                      <input type="checkbox" name="draft"  checked class="zidhky draft">
                    <br><br> 

                    <p>ملخص   </p>
                      <textarea rows=5 cols=50 class="zidhky synopsis"> </textarea>  
                  </div>
               </div>  <!-- zidhky header -->
               <a id="new-response" href="">زيد جواب <i class="fa fa-plus" aria-hidden="true"></i></a>
                <a id="data-submit" href="">أبعث</a>
            </form>

        {% endblock %}
      

      

