

{% extends "main_template.html" %}
        


        {% block main_content_block %}
          {% if category_item is None %}
             <h2> no category </h2>
          {% else %}
             <h2> {{category_item.name_ar}} </h2> 
          {% endif %}
         {%  for story_item in story_list %}
          <a href="{{root_links.story}}/{{story_item.id}}/" >
            <div class="story-icon"> 
               <h3>{{ story_item.title_ar}}</h3>
            </div>
          </a>
         {% endfor %}
        {% endblock %}


