

{% extends "main_template.html" %}
        


{% block main_content_block %}
  {% if category_item is None %}
     <h2> no category </h2>
  {% else %}
     <h2 class="centered-title"> {{category_item.name_ar}} </h2> 
  {% endif %}
 {%  for story_item in stories %}
    <div class="story-icon">
          <a href="{{root_links.story}}/{{story_item.id}}/" >
          <p id="story-title">{{ story_item.title_ar}}
             <span class="date"> - {{ story_item.pub_date|date:"Y-m-d" }}</span><br>
             <span class="synopsis">{{ story_item.synopsis_ar|truncatechars:100 }}</span>
          </p>
          </a>
     </div>
 {% endfor %}

 {% if stories.has_other_pages %}
   <ul class="pagination">
     {% if  stories.has_previous %}
       <li><a href="?page={{ stories.previous_page_number }}">&laquo;</a></li>
     {% else %}
       <li ><span>&laquo;</span></li> 
     {% endif %}

     {% for i in stories.paginator.page_range %}
       {% if stories.number == i %}
         <li><a href="#" class="active"><span>{{ i }}</span></a></li>
       {% else %}
         <li><a href="?page={{ i }}">{{ i }}</a></li>  
       {% endif %} 
     {% endfor %} 

     {% if  stories.has_next %}
       <li><a href="?page={{ stories.next_page_number }}">&raquo;</a></li>
     {% else %}
       <li ><span>&raquo;</span></li> 
     {% endif %}
   </ul>
 {% endif %}

{% endblock %}


