{% extends "main_template.html" %}

{% load static %}
     
     

        {% block main_content_block %}
          <h3>باتمان</h3>
          <img src={% static "batman_character.png"%} 
                alt="batman" style="height:300px;float:left;padding:20px; ">
          <p>باتمان أو الرجل الوطواط (بالإنجليزية: Batman) هو شخصية خيالية لبطل كتب مصورة خارق من دي سي كومكس (DC Comics). ابتكر الشخصية الفنان بوب كين والكاتب بيل فينغر.[2][3] كان أول ظهور للشخصية في شهر مايو عام 1939. حين ظهر في العدد رقم 27 من مجلة القصص المصورة ديتكتيف كومكس عام 1939 ومنذ ذلك الوقت أصبح هو وسوبرمان وسبايدرمان، أشهر الأبطال الخارقين الخياليين، وقد ظهر كل منهم في عدة أفلام سينمائية ناجحة.</p>
<p>
شخصية باتمان السرية هي بروس واين، الملياردير الأمريكي، والفتى اللعوب صاحب شركات واين التجارية وفاعل الخير الكبير. بعد أن رأى والداه يقتلان على يد أحد اللصوص في صغره، أقسم أن يحارب الجريمة أينما وجدت وأن ينتقم من المجرمين جميعاً دون أن يصبح واحداً منهم، فلا يقتل أو يغتال أحدهم مهما حصل. فتدرب على فنون القتال والتحري المختلفة منذ صغره، وصنع لنفسه بذلة مستوحاة من هيئة الخفافيش، واتخذ اسماً مستعاراً مستوحى من الخفاش كذلك الأمر.[4] مسقط رأس باتمان هو مدينة غوثام الخيالية، وهو يتعاون مع عدة شخصيات رئيسية في سلسلة قصصه، منها ألفرد بنيوورث خادمه ومدبر منزله، والمفوض جيمس جوردون رئيس شرطة المدينة، وعدد من محاربي الجريمة الآخرين مثل ربيبه روبن. لا يتمتع باتمان بأي قوى خارقة، وإنما يعتمد على مهاراته التقنية والقتالية العالية، وذكائه الذي يصل إلى حد العبقرية، وقدراته التحليلة، وثروته الهائلة، وقوة إرادته. برزت عبر السنوات عدة شخصيات شريرة مناوئة لباتمان حقق بعضها شهرة واسعة بين محبي وهواة القصص المصورة، أبرزها يبقى الجوكر بلا منازع.</p>
        {% endblock %}
      

      

