
{% extends "main_template.html" %}

     
     

        {% block main_content_block %}

        {% endblock %}
      

        {% block secondary_content_block %} 
          <div class="novelties"> 
             <h3>الجديد</h3>   
             <p>الجديد ١</p>
             <p>الجديد ١</p>
             <p>الجديد ١</p>
             <p>الجديد ١</p>        
           </div> 
           <div class="oldies">
             <h3>القديم</h3>  
             <p>القديم ٢ </p>
             <p>القديم ١</p>
             <p>٣ لقديم ١</p>
             <p>القديم ٤</p>        
           </div>     
        {% endblock %}
      

