{% extends "main_template.html" %}

{% load static %}
     
     

        {% block main_content_block %}
          <div>
          {% for character in characters %}  
            <div class="character-container">
              <h3>{{ character.name_ar }}</h3>
              <img src={{ character.photo.url  }} 
                    alt="batman" style="height:200px;float:left;padding:20px; ">
              <p> {{ character.short_bio_ar }} </p>
            </div>
          {% endfor %}
          </div>
        {% endblock %}
      

      

