
{% extends "main_template.html" %}

     
     

{% block main_content_block %}
    {%  for story_item in story_list %}
          <div class="story-icon">
             <a href="{{root_links.story}}/{{story_item.id}}/" >
               <p id="story-title">{{ story_item.title_ar}}
               <span class="date"> - {{ story_item.pub_date|date:"Y-m-d" }}</span><br>
               <span class="synopsis">{{ story_item.synopsis_ar|truncatechars:100 }}</span>
               </p>
             </a>
          </div>
    {% endfor %}

    <div class="categories-overview" >
        {% for category in categories %}
        <div class="category-snippet">
            <h2 class="centered-title">{{category.name_ar}}</h3>
        </div>  
        {% endfor %}
    </div>  
{% endblock %}
      

