
{% extends "main_template.html" %}

     
     

        {% block main_content_block %}
         {%  for story_item in story_list %}
          <a href="{{root_links.story}}/{{story_item.id}}/" >
            <div class="story-icon"> 
               <h3>{{ story_item.title_ar}}</h3>
            </div>
          </a>
         {% endfor %}
        {% endblock %}
      

        {% block secondary_content_block %} 
          <div class="novelties"> 
             <h3>الجديد</h3>   
             <p><a href="">الجديد ١</a></p>
             <p><a href="">الجديد ١</a></p>
             <p><a href="">الجديد ١</a></p>
             <p><a href="">الجديد ١</a></p>        
           </div> 
           <div class="novelties">
             <h3>القديم</h3>  
             <p><a href="">الجديد ١</a></p>
             <p><a href="">الجديد ١</a></p>
             <p><a href="">الجديد ١</a></p>
             <p><a href="">الجديد ١</a></p>        
           </div>      
        {% endblock %}
      

