
{% extends "main_template.html" %}

{% load static %}
         
{% block dynamic_js %}

  var csrf_token = '{{csrf_token}}';

  $(document).ready(function() {
    $(".delete-story").click(function(e){
          e.preventDefault();
          var post_data = {
                character_id : $(this).attr("id"),
          }
          var json_post_data = JSON.stringify(post_data);
          /*console.log(json_post_data);*/
          $.ajax({url: "/hkaya/zidhky/ajax/delete_character/",
                headers: {'X-CSRFToken': csrf_token},
                data: json_post_data,  
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                type: 'POST', 
                success: function(data){     
                    if(data.status == "success"){
                       delete_character_success(data);
                    }else{
                       delete_character_failure(data);
                    }
                },
                error: function(xhr){
                    alert("An error occured: " + xhr.status + " " + xhr.statusText); 
                },
          });    /* $.ajax() */
      });    /* $(".delete-stor").onclick() */
  });  /* document.ready() */

function delete_character_success(data)
{
    var story_icon = $("#"+data.character_id).parent().parent();
    var msg_tag = $("<p> الحكاية تمحات </p>");
    msg_tag.addClass("success_msg");
    var check_font_tag = $('<i class="fa fa-check " aria-hidden="true"></i>');
    msg_tag.append(check_font_tag);
    story_icon.after(msg_tag);
    story_icon.fadeOut("slow");
    $(".success_msg").delay(2000).fadeOut("slow"); 
}

function delete_character_failure(data)
{
    var story_icon = $("#"+data.character_id).parent().parent();
    var msg_tag = $("<p> ما قدرناش نمحيو لحكاية </p>");
    msg_tag.addClass("failure_msg");
    var check_font_tag = $('<i class="fa fa-times " aria-hidden="true"></i>');
    msg_tag.append(check_font_tag);
    story_icon.after(msg_tag);
    story_icon.fadeOut("slow");
    $(".failure_msg").delay(2000).fadeOut("slow"); 
}

{% endblock %}
 

{% block main_content_block %}

    <h3>عدل شخصية</h3> 

    <form id="zidhky-form" method="post"  enctype="multipart/form-data">
       <div class="zidhky header">
         {% csrf_token %}
	  <h3>عرف الشخصية</h3> 
	  <div>
	    <p>الإسم </p>
	    <input type="text" name="character_name" class="zidhky story_name"><br>        
	 
           <input id="data-submit" type="submit" value="ابعث">
	  </div>
       </div>  <!-- zidhky header -->
    </form>


    {% if search_request %}
  
      <p class="num_search_results">لقينا {{found_characters}} شخصية</p>
      {%  for character_item in character_list %}
            <a href="" >
                <div class="story-icon">
                  <img src="{% if character_item.photo %} {{character_item.photo.url}} {% endif %}" alt="{{character_item.name_ar}}" >
                  <p id="story-title">{{ character_item.name_ar}} - 
                    <a class="modify-story" href="{{root_links.modify_character}}/{{character_item.id}}">تغيير</a> | <a href="" class="delete-story" id="d_{{character_item.id}}">محي</a>
                    <br><span class="synopsis">{{ character_item.short_bio_ar|truncatechars:100 }}</span>
                  </p>
                </div>
            </a>
       {% endfor %}

    {% endif %}

{% endblock %}





