
{% extends "main_template.html" %}

{% load static %}
    
 

      {% block main_content_block %}
       <h3> {{story_item.title_ar}}  </h3>
       <ol class="chat">
        {% for conversation_item in conversation_list %}
          {%  if conversation_item.character.id == 2  %}
           <li class="other">
             <div class="avatar"><img src={% static "batman_avatar.jpg" %} draggable="false"/></div>
             <div class="msg">
               <p>{{conversation_item.text_ar}}</p>
               <time>20:17</time>
            </div>
          </li>
          {%  elif conversation_item.character.id == 1  %}
          <li class="self">
             <div class="avatar"><img src={% static "batman_avatar.jpg"%} draggable="false"/></div>
             <div class="msg">
                <p>{{conversation_item.text_ar}}</p>
                <time>20:18</time>
             </div> 
           </li>
          {% endif %}
        {% endfor %}
       </ol>
    {% endblock %}     


